body {
  margin: 0;
  padding: 0;
}


.addbtn {
  background-color: hwb(230 97% 1%);
}
#lightBox {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
  }
  .cart_items {
    display: flex;
    /* border: solid red; */
    justify-content: space-around;
  }
  .cart_img1 {
    width: 70%;
  }
  .cart_img2 {
    width: 30%;
  }

  .cartBadge {
    position: absolute;
    top: 2%;
    right: 13%;
    border-radius: 50%;
    width: full;
    height: full;
    padding: 0.2em 0.5em;
    font-size: 0.8em;
  }
}
