body{
    margin: 0;
    padding: 0;
}

.sneaker{
    color: hsl(220, 13%, 13%);
}

.addbtn{
    background-color: hsl(223, 64%, 98%);
}
#lightBox {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.8);
}
